<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sign Up - Sign In</title>
  <link rel="shortcut icon" href="user.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>          
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="container a-container" id="a-container">
        <form class="form" id="a-form" method="post" action="/forget_password">
          {% if result == "not ok" %}
              <h2 style="color:red;">{{ msg_data }}</h2>
          {% elif result == "ok" %}
              <h2 style="color:green;">{{ msg_data }}</h2>
          {%endif%}
          <h2 class="form_title title">Reset Your Password</h2>
          <input class="form__input" type="text" placeholder="Email" name="email">
          <a class="form__link" href = "/login" style = "text-decoration:none;">Login?</a>
          <button class="form__button button " type='submit' name ="reset_password">Send Reset Link</button>
        </form>
      </div>
      
      <div class="switch" id="switch-cnt">
        <div class="switch__circle"></div>
        <div class="switch__circle switch__circle--t"></div>
        <div class="switch__container" id="switch-c1">
          <h2 class="switch__title title">Forgot it ?</h2>
          <p class="switch__description description">To keep connected with us please reset password with your personal email</p>
        </div>
      </div>
    </div>
  </body>
</html>
  <script  src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>