<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="{{ url_for('static', filename='users.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loader.css') }}">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body id = "content">

      <!-- 
    - #HEADER
  -->

  <header class="header">
    <div class="containers">

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <a href="#" class="logo">
        <img src="{{ url_for('static', filename='images/logo_geovibe.jpg') }}" width="77" height="20" alt="Nike home">
      </a>
      

      <nav class="navbar" data-navbar>

        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

        <ul class="navbar-list">

          <li>
            <a href="{{ url_for('users')}}" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#" class="navbar-link">About</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Contact</a>
          </li>
        </ul>

      </nav>
      <div class="search-container">
        <form method = 'POST' onsubmit="getLocation(event)">
        <input type="text" id="searchBox" name="user_want" placeholder="What you want?" />
        <input type="hidden"  name="latitude" id="latitude" placeholder="Enter latitude">
        <input type="hidden"  name="longitude" id="longitude" placeholder="Enter longitude">
        <input type="submit" id="searchButton" value="Search">
        </form>
    </div>

      <!-- <div class="header-action">

        <button class="header-action-btn" aria-label="add to cart">
          <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
        </button>

        <button class="profile-btn" aria-label="profile">
          <img src="./assets/images/profile.png" width="100" height="100" alt="profile" class="img">
        </button>

      </div> -->

      <div class="overlay" data-overlay data-nav-toggler></div>

    </div>
    
  </header>

    {% if result == "ok" or result == "ok dialog"%}
    <div class="container">
            <!-- <div class="search-container">
                <form method = 'POST' onsubmit="getLocation(event)">
                <input type="text" id="searchBox" name="user_want" placeholder="What you want?..." />
                <input type="hidden"  name="latitude" id="latitude" placeholder="Enter latitude">
                <input type="hidden"  name="longitude" id="longitude" placeholder="Enter longitude">
                <input type="submit" id="searchButton" value="Submit">
                </form>
            </div> -->
        <div class="products-container">
        {% for item in msg %}
            <div class="product" data-name="p-5">
                <div class = "r-image">
                    <img src="{{item['value']['image_url']}}" alt="not avail" />
                </div>
                <div class="title">
                <h3 class="shop_name">
                    <a href="{{ url_for('detail_page', business_email=item['value']['email'], distance = item['distance']) }}" style = "color : orange;">
                        {{ item['value']['business_name'] }}
                    </a>
                </h3>
                <div class="offer">
                    {% if item['value']['discount_offer'] is defined %}
                        <p>Get {{ item['value']['discount_offer'] }}% off!</p>
                    {% endif %}
                </div>
                </div>
                <div class="location">
                <div class="address">
                    {{item['value']['address']}}
                </div>
                <div class="distance">{{item['distance']}}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>    
    {% else %}
        <div class="container">
            <!--<div class="search-container">
                <form method = 'POST' onsubmit="getLocation(event)">
                <input type="text" id="searchBox" name="user_want" placeholder="What you want?..." />
                <input type="hidden"  name="latitude" id="latitude" placeholder="Enter latitude">
                <input type="hidden"  name="longitude" id="longitude" placeholder="Enter longitude">
                <input type="submit" id="searchButton" value="Submit">
                </form>
            </div>-->
        </div>
    {% endif %}

    {%if result == "ok dialog" %}
    <dialog id="my-dialog">
        <div>
            {% for item in msg %}
                {% if item.value.shop_name == null %}
                    <h2>{{item.value.business_name}}</h2>
                {% endif %}
                {% if item.value.business_name == null %}
                    <h2>{{item.value.shop_name}}</h2>
                {% endif %}
                <p>{{ item.value.address }}</p><br><hr>
            {% endfor %}
            
        </div>
        <div>
            {% if anonymous != "yes" %}
                <button id="send_email">Email Me Offers</button>
            {% endif %}
            <button id="close-dialog">Close</button>
        </div>
    </dialog>
        <script>
            var curUser = {{ cur_user | tojson | safe }};
            var msg = {{ msg | tojson | safe }};
  
            const closeDialogButton = document.getElementById('close-dialog');
            
            {% if anonymous != "yes" %}
                const send_email_btn = document.getElementById('send_email');
            {% endif %}

            const dialog = document.getElementById('my-dialog');
            dialog.showModal();

            function processData(data, cur_user)
            {
                const msg = {
                    'email':cur_user,
                    'data':data
                }
                fetch('/send_email', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(msg)
                })
                .then(response => response.json())
                .then(data => {
                    // Process the response from the Python method
                    hideLoader();
                    console.log(data);
                })
                .catch(error => {
                    hideLoader();
                    console.error('Error:', error);
                });
            }

            function hideLoader() {
                document.getElementById('loaders').style.display = 'none';
            }

            function addLoader() {
                var main_loader_div = document.createElement("div");
                main_loader_div.innerHTML = "<p style='position:fixed;top:58%;left:49%'>sending email...</p>"
                main_loader_div.id = "loaders"
                var loaderDiv = document.createElement("div");
                loaderDiv.id = "loader";
                loaderDiv.className = "loader";
                document.getElementById("content").appendChild(main_loader_div).appendChild(loaderDiv);
            }

            {% if anonymous != "yes" %}
                send_email_btn.addEventListener('click', () => {
                    dialog.style.display = "none";
                    dialog.close();
                    addLoader()
                    processData(msg, curUser);

                });
            {% endif %}

            document.getElementById("close-dialog").addEventListener('click', () => {
                dialog.style.display = "none";
                dialog.close();
            });
            // Add event listener to the button
            //document.getElementById("send_email").addEventListener("click", addLoader);
        </script>
    {%endif%}
    
</div>

<!-- 
    - custom js link
  -->
  <script src="{{ url_for('static', filename='detail_page.js') }}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>