<html>
<head>
    <script  src="{{ url_for('static', filename='vendor.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loader.css') }}">  
</head>
<body id = "content">

    {% if result == "ok" or result == "ok dialog"%}
    <div class="container">
        <div class="container">
            <div class="search-container">
                <form method = 'POST' onsubmit="getLocation(event)">
                <input type="text" id="searchBox" name="user_want" placeholder="What you want?..." />
                <input type="hidden"  name="latitude" id="latitude" placeholder="Enter latitude">
                <input type="hidden"  name="longitude" id="longitude" placeholder="Enter longitude">
                <input type="submit" id="searchButton" value="Submit">
                </form>
            </div>
        </div>
        <div class="products-container">
        {% for item in msg %}
            <div class="product" data-name="p-5">
                <div class = "r-image">
                    <img src="{{item['value']['image_url']}}" alt="not avail" />
                </div>
                <div class="title">
                <h3 class="shop_name">
                    <a href="{{ url_for('detail_view_page', business_email=item['value']['email'], distance = item['distance']) }}" style = "color : orange;">
                        {{ item['value']['business_name'] }}
                    </a>
                </h3>
                <div class="offer">
                    <p>Get 10% off!</p>
                </div>
                </div>
                <div class="location">
                <div class="address">
                    {{item['value']['address']}}
                </div>
                <div class="distance">{{item['distance']}}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>    
    {% else %}
        <div class="container">
            <div class="search-container">
                <form method = 'POST' onsubmit="getLocation(event)">
                <input type="text" id="searchBox" name="user_want" placeholder="What you want?..." />
                <input type="hidden"  name="latitude" id="latitude" placeholder="Enter latitude">
                <input type="hidden"  name="longitude" id="longitude" placeholder="Enter longitude">
                <input type="submit" id="searchButton" value="Submit">
                </form>
            </div>
        </div>
    {% endif %}

    {%if result == "ok dialog" %}
    <dialog id="my-dialog">
        <div>
            {% for item in msg %}
                {% if item.value.shop_name == null %}
                    <h2>{{item.value.business_name}}</h2>
                {% endif %}
                {% if item.value.business_name == null %}
                    <h2>{{item.value.shop_name}}</h2>
                {% endif %}
                <p>{{ item.value.address }}</p><br><hr>
            {% endfor %}
            
        </div>
        <div>
            <button id="send_email">send me email</button>
            <button id="close-dialog">Close</button>
        </div>
    </dialog>
        <script>
            var curUser = {{ cur_user | tojson | safe }};
            var msg = {{ msg | tojson | safe }};
  
            const closeDialogButton = document.getElementById('close-dialog');
            const send_email_btn = document.getElementById('send_email');
            const dialog = document.getElementById('my-dialog');
            dialog.showModal();

            function processData(data, cur_user)
            {
                const msg = {
                    'email':cur_user,
                    'data':data
                }
                fetch('/send_email', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(msg)
                })
                .then(response => response.json())
                .then(data => {
                    // Process the response from the Python method
                    hideLoader();
                    console.log(data);
                })
                .catch(error => {
                    hideLoader();
                    console.error('Error:', error);
                });
            }

            function hideLoader() {
                document.getElementById('loaders').style.display = 'none';
            }

            function addLoader() {
                var main_loader_div = document.createElement("div");
                main_loader_div.innerHTML = "<p style='position:fixed;top:58%;left:49%'>sending email...</p>"
                main_loader_div.id = "loaders"
                var loaderDiv = document.createElement("div");
                loaderDiv.id = "loader";
                loaderDiv.className = "loader";
                document.getElementById("content").appendChild(main_loader_div).appendChild(loaderDiv);
            }

            send_email_btn.addEventListener('click', () => {
                dialog.style.display = "none";
                dialog.close();
                processData(msg, curUser);
            });
            closeDialogButton.addEventListener('click', () => {
                dialog.style.display = "none";
                dialog.close();
            });
            // Add event listener to the button
            document.getElementById("send_email").addEventListener("click", addLoader);
        </script>
    {%endif%}
    
</div>
</body>

</html>